/* Pseudo Element*/

p::first-line {
    font-weight: bold;
    color: darkred;
    word-spacing: 2px;
    letter-spacing: 2px;
}

p::first-letter {
    font-size: 50px;
}


/* Pseudo class*/

ul li{
    padding: 10px;
    margin-bottom: 10px;
}


ul li:first-child{
    background-color: darkseagreen;
}

ul li:last-child{
    background-color: deepskyblue;
}

a:visited{
    color: fuchsia;
}

a:hover{
    color: white;
    background-color: lightblue;
}

a {
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    width: 100px;
    margin-bottom: 10px;
}